* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-color: #FFC288;
    font-family: sans-serif;
}
body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

a, a:visited{
    text-decoration: none;
    color: inherit;
    transition: color 0.1s;
}
a:hover {
    color: #444444;
    transition: 0.1s;
}

#main {
    /* border-width: 3px; */
    /* border-style: solid; */
    display: flex;
    flex-grow: 1;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    max-width: 340px;
    max-height: 700px;
    border-radius: 30px;
    box-shadow: 1px 1px 15px #00000040;
}

hr {
    width: 70%; 
    border: 0;
    height: 3px;
    border-radius: 50%;
}

#themeContainer, #headerFixer {
    min-width: 30px;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;   
}
#light, #dark {
    height: 30px;
    aspect-ratio: 1 / 1;
    position: absolute;
    stroke-width: 2.5;
}
#light {
    opacity: 0;
}

#display {
    width: 95%;
    flex: 1 1 0;
    display: flex;
    flex-flow: column nowrap;
    padding: 20px 0 0 0;
}

#history, #input {
    width: 100%;
}

#historywrapper {
    direction: rtl;
    overflow-y: auto;
    flex: 1 0 140px;
    max-height: 200px;
}

#history {
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    gap: 15px;
    direction: ltr;
    text-align: right;
    font-weight: bold;
    opacity: 60%;
    font-size: 20px;
}

#history.textlight > div {
    filter: opacity(50%);
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    border-radius: 5px;
    background: linear-gradient(90deg, #00000000 0%, #00000000 35%, #7f7f7f 40%, #7f7f7f 60%, #00000000 0%);
}
::-webkit-scrollbar-thumb {
    background-color: #e37226;
    border-radius: 5px;
    /* box-shadow: 0 0 4px #00000099; */
}
::-webkit-scrollbar-thumb:hover {
    background-color: #c85000;
    border-radius: 5px;
}

#input, #input:focus, #input:active {
    border: none;
    outline: none;
    /* margin: 2% 0; */
    font-weight: bolder;
    text-align: right;
    height: 60px;
    caret-color: transparent;
    font-size: 30px;
    background-color: transparent;
}

::placeholder {
    color: inherit;
}

#input {
    filter: opacity(65%);
}

#livedisplay {
    align-self: center;
    width: 95%;
    height: 30px;
    font-size: 15px;
    opacity: 50%;  
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}

#btns {
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 0;
    /* aspect-ratio: 4 / 4.5; */
    margin-bottom: 2%;
    width: 95%;
    justify-content: space-between;
}

.button {
    /* height: 70px; */
    /* width: 70px;  */
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23%;
    aspect-ratio: 1 / 1;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    filter: none;
    transition: box-shadow 0.2s;
}

.btntype1 {
    opacity: 50%;
}

.btntype1:hover {
    opacity: 35%;
    transition: 0.2s;
}

.btntype1:active {
    opacity: 100%;
    transition: 0.2s;
}

.btntype2, #bkspacepath {
    color: #FF6701;
    fill: #FF6701;
    background-color: transparent;
}

.btntype2:hover, #bkspacepath:hover {
    color: #fc8a3e;
    fill: #fc8a3e;
    transition: 0.2s;
}

.btntype2:active, #bkspacepath:active {
    color: #eb5e00;
    fill: #ee5f00;
    transition: 0.2s;
}

.btntype3 {
    background-color: #FF6701;
    color: white;
    transition: background-color 0.2s;  
}

.btntype3:hover {
    background-color: #ff781e;
    transition: 0.15s;
}

.btntype3:active {
    background-color: #f36c13;
    transition: 0.15s;
}

#clearbtn {
    font-size: 22px;
}

#backspaceIcon {
    height: 20px;
}

footer {
    min-height: 50px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}
#copyRights {
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
#contactLink {
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
#contactIcon {
    display: flex;
    align-items: center;
}

.bodylight {
    background-color: #F8C794;
}
.bodydark {
    background-color: #232D3F;
}

.bglight {
    background-color: #EEE2DE;
}
.bgdark {
    background-color: #191919;
}

.textlight {
    color: #000000;
}
.textdark {
    color: #ffffff;
}

.hrlight {
    background-image: linear-gradient(to right, #00000013, #00000031, #00000013);
}
.hrdark {
    background-image: linear-gradient(to right, #ffffff13, #ffffff31, #ffffff13);
}
.iconlight {
    fill: black;
}
.icondark {
    fill: white;
}

@media only screen and (max-width : 500px){
    body.bodylight {
        background-color:#EEE2DE;
    }   
    body.bodydark {
        background-color: #191919;
    }
    #main {
        box-shadow: none;
    }
    hr {
        height: 2px;
    }
}

@media only screen and (max-width: 380px){
    #main {
        max-height: 600px;
        max-width: 300px;
    }
    hr {
        height: 1.5px;
    }
    .button {
        font-size: 20px;
    }
    #clearbtn {
        font-size: 15px;
    }
    #backspaceIcon {
        height: 15px;
    }
    #light, #dark {
        height: 22px; 
    }
}